<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<!-- [disabled]="form.invalid" -->
<ion-content>
  <div class="divForm">
    <form (ngSubmit)="login()" [formGroup]="form">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" name="email" formControlName="email" ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" name="password" ></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" [disabled]="form.invalid" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <p>Sample user</p>
    <p>email -> joe@example.com </p>
    <p>password -> Password1</p>
  </div>

</ion-content>
