<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>holidays</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngFor="let holiday of holidays$ | async">
    <ion-card (click)="navigateToHolidays(country)">
      <ion-card-header>
        <ion-card-subtitle>{{holiday.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       <p>{{holiday.code }}</p> 
       <p>{{holiday.date }}</p> 
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
