<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home - List of Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngFor="let country of countries$ | async">
    <ion-card (click)="navigateToHolidays(country)">
      <ion-card-header>
        <ion-card-subtitle>{{country.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{country.code }}
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
